#content table {
    width: 100%;
}

#content table.file th.filename {
    background-color: #EEE;
}

#content table.file td.col1 {
    border-right: 1px dashed #BBB;
}

#content table.file td.col2 {
    width: 300px;
    padding-left: 20px;
}

#content table.file table.description td.label {
    font-weight: bold;
}